.w-full.h-screen.flex.items-center.justify-center.bg-gray-50
  = render Common::DataTableComponent.new(items:, density:, class: "w-[900px]") do |table|
    - table.with_column("Name") { |item| tag.p(item.name) }
    - table.with_column("Travels from") { |item| tag.p(item.travels_from) }
    - table.with_column("Invited by") { |item| tag.p(item.invited_by) }
    - table.with_column("Invitation status") { |item| tag.p(item.invitation_status) }
