= render Invitation::Layout::ApplicationComponent.new(title: I18n.locale.to_s == "en" ? "Alberto & Andrea Wedding Invitation" : "Invitación de Boda - Alberto & Andrea") do |component|
  - component.with_body do
    = yield
