- url = guest.new_record? ? wedding_guests_path(wedding) : wedding_guest_path(wedding, guest)
- method = guest.new_record? ? :post : :patch
= form_with(model: guest, url:, method:, builder: ComponentFormBuilder, **content_tag_arguments) do |form|
  -# Form Group
  .inline-flex.gap-8.px-6
    = form.text_field(:name, label: t(".fields.first_name"), required: true, field_wrapper_arguments: { class: "basis-1/2" })
    = form.text_field(:surname, label: t(".fields.last_name"), required: true, field_wrapper_arguments: { class: "basis-1/2" })

  .inline-flex.gap-8.px-6
    = form.text_field(:country, label: t(".fields.country"), required: true, field_wrapper_arguments: { class: "basis-1/2" })
