= render(Invitation::Layout::PageComponent.new(**content_tag_arguments)) do
  .h-full.w-full.relative.flex.flex-col.items-center.justify-center.px-6.py-10.text-gray-700
    %hr.absolute.left-0.my-auto.border-gray-200{ class: "w-[20%]" }
    %hr.absolute.right-0.my-auto.border-gray-200{ class: "w-[20%]" }

    %h1.absolute.px-16.m-auto.font-ambrosia.text-8xl.text-gray-500.space-y-4
      %p{ class: "leading-[0.6]" } 14
      %p{ class: "leading-[0.6]" } 09

    %h2.absolute.uppercase.text-xs.space-x-1.text-gray-500{ class: "text-[10px] bottom-[120px] tracking-[.1em]" }
      %span= t(".save_the_date")
      %span •
      %span= invitation.wedding.name

    .absolute.bottom-12.m-auto
      = render Invitation::Pages::Common::AcceptInvitationButton.new(invitation:, preview_mode:)
