= render(Invitation::Layout::PageComponent.new) do
  .h-full.w-full.relative.flex.flex-col.items-center.justify-center.px-4.py-10.text-gray-700
    %hr.absolute.left-0.my-auto.border-gray-500{ class: "w-[20%]" }
    %hr.absolute.right-0.my-auto.border-gray-500{ class: "w-[20%]" }

    %h1.absolute.px-16.m-auto.font-newsreader.text-7xl{ class: "leading-[0.6]" }
      %p{ class: "first-letter:mb-3" } 14
      %br
      %p{ class: "first-letter:mb-3" } 09

    %h2.absolute.uppercase.text-xs.space-x-1{ class: "text-[10px] bottom-[100px] tracking-[.1em]" }
      %span Save the date
      %span •
      %span Alberto & Andrea
