= render(Invitation::Layout::PageComponent.new) do
  .relative.flex.flex-col.items-center.justify-center.px-4.py-10.gap-16.text-gray-500
    - options = { class: "w-full font-ambrosia text-7xl text-gray-500 text-center" }
    %h1{ options } Travel Guide

    %p{ class: "w-full text-[12px] tracking-[.10em] [&>*]:block [&>*]:mb-1" }= t(".preview_html")