= render(Invitation::Layout::PageComponent.new) do
  .relative.h-full.flex.flex-col.justify-between
    %h1.mt-16.mb-32.space-y-4.font-newsreader.text-6xl.text-gray-700{ class: "leading-[0.6]" }
      %p{ class: "first-letter:mb-3" } Alberto
      %p.ml-10 •
      %p{ class: "first-letter:mb-3" } Andrea

    .space-y-6
      %h2.uppercase.text-gray-700{ class: "w-[85%] text-[10px] tracking-[.25em]" }
        %span invite you to join them
        %br
        %span in their wedding celebration

      .flex.flex-row.items-center.justify-start
        %p.font-newsreader.uppercase.text-center.leading-3.mr-6.pr-6.border-r.border-gray-700
          %span.text-xs Sept
          %br
          %span.font-newsreader.text-2xl{ class: "tracking-[.05em]" } 14
          %br
          %span.text-sm 2023
        %p.uppercase.leading-4.text-gray-500{ class: "text-[10px] tracking-[.1em]" }
          %span.text-gray-700 Ceremony on the 14th at 17:00
          %br
          %span Parador de Plasencia
          %br
          %span 10600 Plasencia, Cáceres, Spain
          %p.uppercase.leading-4.text-gray-500{ class: "text-[10px] tracking-[.1em]" }

      = button_component(label: "accept invitation",
                         scheme: :secondary,
                         size: :small)