= render BaseComponent.new(**content_tag_args) do
  %li
    - if heading?
      = heading
    - if items?
      = render BaseComponent.new(tag: :ul, aria: { labelledby: :TODO_ADD_HEADING_ID }) do
        - items.each do |item|
          = item
