= base_component(**content_tag_arguments) do
  %li
    - if heading?
      = heading
    - if items?
      - items_wrapper_arguments = { tag: :ul, "aria-labelledby": rendered_heading.id }.compact
      = base_component(**items_wrapper_arguments) do
        - items.each do |item|
          = item
