= base_component(**content_tag_args) do
  -# Trigger
  - if trigger?
    %div{ **trigger_tag_arguments }
      = trigger

  -# Modal Content
  = base_component(**modal_content_tag_arguments) do
    -# Background
    %div{ **modal_content_background_arguments }
    -# Body
    = modal_content
