= base_component(**content_tag_arguments) do
  - if heading?
    = heading
  - if links?
    - items_wrapper_arguments = { tag: :ul, "aria-labelledby": rendered_heading.id }.compact
    = base_component(**items_wrapper_arguments) do
      - links.each do |link|
        = link
