= turbo_frame_tag(TURBO_FRAME, class: "w-full h-full") do
  = base_component(tag: :nav, **content_tag_arguments) do
    - if items?
      %ul{ tabs_wrapper_tag_arguments }
        - items.each do |item|
          = item

    .flex-grow.overflow-hidden
      - if content?
        = content
