= render Layout::PageComponent.new do
  -# Page Header
  = title_component(title: t(".title"), class: "w-full") do |title|
    - if weddings.any?
      - title.with_action(label: t(".create_wedding"),
                                tag: :a,
                                size: :medium,
                                scheme: :primary,
                                href: new_wedding_path,
                                "data-turbo-frame": "modal")

  %hr

  -# Weddings List
  - if weddings.empty?
    = empty_state_component(icon: "inbox",
                    title: t(".no_weddings_title"),
                    subtitle: t(".no_weddings_description"),
                    button_label: t(".create_wedding"),
                    button_path: new_wedding_path,
                    button_arguments: { "data-turbo-frame": "modal" })
  - else
    %div{ class: "grid gap-6 max-h-full overflow-y-scroll", style: "grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));" }
      -# Weddings
      = render Weddings::IndexComponent::Wedding.with_collection(weddings)
