= render Layout::PageComponent.new do
  .h-full.w-full.flex.flex-col.gap-4
    -# Page Header
    = title_component(title: "Your weddings") do |title|
      - title.with_subheader_text("List of weddings your are planning")

    -# Weddings List
    - if weddings.empty?
      = render Common::EmptyStateComponent.new(icon: "inbox",
                      title: "You have no open weddings",
                      subtitle: "Start planning a new wedding",
                      button_label: "create wedding",
                      button_path: new_wedding_path,
                      button_arguments: { "data-turbo-frame": "modal" })
    - else
      %p Cacahue
