= render Layout::PageComponent.new(body_tag_arguments: { class: "space-y-8" }) do
  -# Page Header
  = title_component(title: t(".header.title"), class: "w-full") do |title|
    - title.with_subheader_text(t(".header.subtitle"))
    - if weddings.any?
      - title.with_action(label: t(".create_wedding"),
                                tag: :a,
                                size: :medium,
                                scheme: :primary,
                                href: new_wedding_path,
                                "data-turbo-frame": "modal")

  -# Weddings List
  - if weddings.empty?
    = empty_state_component(icon: "inbox",
                    title: t(".empty_state.title"),
                    subtitle: t(".empty_state.subtitle"),
                    button_label: t(".create_wedding"),
                    button_path: new_wedding_path,
                    button_arguments: { "data-turbo-frame": "modal" })
  - else
    %div{ class: "grid gap-8 max-h-full overflow-y-scroll", style: "grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));" }
      -# Weddings
      = render Weddings::IndexComponent::Wedding.with_collection(weddings)
