= render Weddings::LayoutComponent.new(wedding:) do
  -# TODO: replace with one of the nested views, but without rendering the whole page layout
  = turbo_frame_tag(Common::TabNavigationComponent::TURBO_FRAME, src: wedding_guests_path(@wedding), loading: "lazy")
