%div{ content_tag_arguments }
  .flex.flex-row.space-x-16{ class: "border-[1.5px]" }
    -# Left side of card, hidden on phone devices
    %div{ class: "hidden md:block" }
      = render Invitation::Pages::Cover.new(wedding:, guest:)

    -# Right side of card, invitation UI (page navigation happens here)
    .contents{ stimulus_target_option("pageAttachment", self.stimulus_identifier) }
      -# Renders all pages, each one wrapped in a template with the metadata required
      -# by the +javascript+ +Page+ class to navigate between invitation pages.
      - pages.each do |page|
        - options = stimulus_target_option("pageTemplate", self.stimulus_identifier)
        - options.merge!(data: { page_name: page.page_name })
        %template{ options }
          = render page.new(wedding:, guest:)
