%div{ content_tag_arguments }
  -# Background
  %p.font-ambrosia.absolute.w-full.h-full.inline-flex.items-center.justify-center.opacity-10.font-gray-700.text-9xl= t(".salutation")

  = render(Invitation::Envelop.new(invitation:))
  = render(Invitation::Letter.new(invitation:))
