%div{ content_tag_arguments }
  = render(Invitation::Envelop.new(wedding:, guest:))
  = render(Invitation::Letter.new(wedding:, guest:))

  - options = ::Html::TagAttributes.build({ class: "absolute bottom-[8%] m-auto tracking-[.1em]" })
  - options = options.with_stimulus_action("click", stimulus_identifier, "openLetter")
  - options = options.with_stimulus_target("startButton", stimulus_identifier)
  = button_component(label: "open wedding invitation", scheme: :secondary, **options.to_h)
