= render Weddings::LayoutComponent.new(wedding:) do
  %div{ content_tag_arguments }
    = render Common::DataTableComponent.new(items: invitations,
                                            density: :spacious,
                                            class: "w-full h-full") do |table|
      - if invitations.any?
        - table.with_title(title: t(".header.title"), size: :small, class: "w-full") do |title|
          - title.with_subheader_text(t(".header.subtitle", count: wedding.invitations.count))
          - title.with_action(label: t(".header.add_invitation"),
                              tag: :a,
                              size: :medium,
                              scheme: :secondary,
                              href: new_wedding_invitation_path(wedding),
                              "data-turbo-frame": "modal")

      - if wedding.guests.count.zero?
        - table.with_empty_state(icon: "inbox",
                                 title: t(".empty.guests.title"),
                                 subtitle: t(".empty.guests.subtitle"),
                                 button_label: t(".empty.guests.add"),
                                 button_path: new_wedding_guest_path(wedding),
                                 button_arguments: { "data-turbo-frame": "modal" })
      - elsif wedding.invitations.count.zero?
        - table.with_empty_state(icon: "inbox",
                                 title: t(".empty.invitations.title"),
                                 subtitle: t(".empty.invitations.subtitle"),
                                 button_label: t(".empty.invitations.add"),
                                 button_path: new_wedding_invitation_path(wedding),
                                 button_arguments: { "data-turbo-frame": "modal" })
      - table.with_column(t(".table.guests")) { |item| tag.p("#{item.guests.pluck(:name).join(", ")}") }
      - table.with_column(t(".table.url")) { "www.holamundo.com" }
      - table.with_column(t(".table.status")) { tag.p("Not Sent") }
