= render(BaseComponent.new(tag: :div, class: "flex flex-col items-center justify-center gap-4")) do
  = title_component(title: "Example of a title", size: :small)
  = title_component(title: "Example of a title", size: :medium)
