-# Page Content
- if content?
  %turbo-frame.flex-grow.overflow-hidden{ id: BODY_FRAME_ID }
    = tab_navigation_component do |navigation|
      - navigation.with_item("/TODO", "Tasks")
      - navigation.with_item(wedding_guests_path(wedding), "Guests")
      - navigation.with_item(wedding_schedule_path(wedding), "Schedule")
      - navigation.with_item("/TODO", "Budget")

      -# Content
      = content
