.w-screen.h-screen.flex.items-center.justify-center.bg-gray-50
  %div{ class: "w-[800px] h-[600px] overflow-hidden rounded-2xl bg-white" }
    = render(Guests::IndexComponent.new(wedding: nil, guests: []))
